.main{
    display: flex;
    flex-direction: column;
    background-color: rgba(134, 133, 132, 0.266);
    box-shadow: 2px 20px solid black;
    padding: 5px;
    border-radius: 10px;
     margin: 14px;
    }
    .top{
        width: 90%;
        display: flex;
        flex-direction: row;
    }

    @media(max-width :'455px'){
        .top{
            flex-direction: column;
        }
    }